# -------------------------------------
# Datasets (CSV, ZIP, etc.)
# -------------------------------------
datasets/dados_dengue/*.zip
datasets/dados_dengue/csv/*.csv
datasets/dados_chikungunya/*.zip
datasets/dados_chikungunya/csv/*.csv
datasets/dados_zika/*.zip
datasets/dados_zika/csv/*.csv

# -------------------------------------
# Ambientes virtuais e dependências
# -------------------------------------
.venv/
venv/
env/
ENV/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
pip-wheel-metadata/
*.manifest
*.spec
